body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

h1{
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-size: 21px;
  letter-spacing: 0.03em;
  font-weight: 700;
}

nav a{
  font-size: 15px;
  color: black;
  text-decoration: none;
  margin: 10px;
  letter-spacing: 0.05em;
}

h1 em {
  color: darkred;

}

h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  display: none;
}

header{
  text-align: center;
  margin-top: 50px;
}

nav {
  margin-top: 0px;
  margin-bottom: 35px;
  padding: 15px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.container img {
  max-width: 100%;
  margin-bottom: 25px;
}


.container {
  max-width: 1024px;
}


#main {
  margin-bottom: 75px;
}

/*
.brdr img,
.brdr .wrap {
  border: 2px solid black;
}
*/


.wrap {
  width: 100%;
  overflow: hidden;
  margin-bottom: 25px;
}

.stage {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  cursor: pointer;
  display: block;
}

.stage {
  transition: all .2s ease-in-out;
  transform: scale(1.05);
}

.stage:hover {
  transform: scale(1.1);

}

.anim-stick {
  background-image: url(anim/stick-controller.gif);
}

.anim-stick:hover {
  background-image: url(anim/stick-controller-anim.gif);
}

#preload {
  opacity: 0;
}

#preload img {
  width: 1px;
  height: 1px;
}

/* --- nav --- */

nav a{
color: black;
cursor: pointer;
font-family: "Source Sans Pro", sans-serif;
font-size: 14px;
font-weight: 600;
line-height: 25.2px;
list-style: none;
margin: 0 12px;
padding: 10px 5px 8px;
text-decoration: none;
text-rendering: optimizelegibility;
text-transform: uppercase;
transition: all .2s ease-in-out;
}

.logo{
  width: 25%;
  margin: 0 auto;
}

#main{
  text-align: center;
}
